$brown-120: #3C2A1C;
$brown-100: #624137;
$brown-50: #A2714C;
$brown-20: #DFD9D7;

$caramel: #FDFAF5;

$gray-0: #FFFFFF;
$gray-10: #F0F1F5;
$gray-20: #D5D6DC;
$gray-30: #A9AEB0;
$gray-40: #66676B;
$gray-60: #40404B;
$gray-100: #121214;

